@model maealim.ModelViews.GuidesAttends.GuidesAttendsCMV


@{
    ViewData["Title"] = "تعديل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>تحضير الموظفين</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item "><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                    <li class="breadcrumb-item "><a asp-controller="Jops" asp-action="Index"> الوظائف </a></li>
                    <li class="breadcrumb-item active">      تعديل تحضير موظف </li>

                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-edit"></i>
                تعديل تحضير موظف
            </h3>

        </div>
        <div class="card-body">


            <form asp-action="Edit">
                <input type="text" type="hidden" asp-for="Id" class="form-control" />


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AttendDate " class="control-label"></label>
                    <input type="text" asp-for="AttendDate" class="form-control" />
                    <span asp-validation-for="AttendDate" class="text-danger"></span>
                </div>

                <div class="form-group ">
                    <label asp-for="GuideId" class="control-label"></label>
                    <select asp-for="GuideId" class="form-control"
                            asp-items="ViewBag.GuideId">
                        <option value="">الرجاء الإختيار</option>
                    </select>
                    <span asp-validation-for="GuideId" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="TheWork" class="control-label"></label>
                    <select asp-for="TheWork" class="form-control" asp-items="ViewBag.TheWork">
                        <option value="">الرجاء الإختيار</option>

                    </select>
                    <span asp-validation-for="TheWork" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="حفظ" class="btn btn-primary" />
                </div>
            </form>

        </div>

        <!-- /.card-body -->
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

            $(function () {
                $("#AttendDate").datepicker({ dateFormat: "yy-mm-dd" }).val()
            });
        });
    </script>
}




