

<style>
    .list-group li:not(.active){
        display:none;
    }

</style>
<div class="container mt-5">
    <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

        (function autoChange() {

            $('.list-group .active').each(function () {
                if (! $(this).is('last-child')) {

                    $(this).delay(1000).fadeOut(1000, function () {
                        $(this).removeClass('active').next().addClass('active').fadeIn();
                        autoChange();
                    })
                } else {
                        $(this).delay(50).fadeOut(50, function () {
                            $(this).removeClass('active');
                            $('.list-group li').eq(0).addClass('active').fadeIn();
                            autoChange();
                    })
                }
            });


        }());

    </script>

}

