<li class="nav-item has-treeview">
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-file-contract"></i>
        <p>
            ادارة العقود
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview" style="display: none;">
        <li class="nav-item">
            <a asp-controller="EmployeeContracts" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>عقود الموظفين</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="GuideContracts" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>عقود المرشدين</p>
            </a>
        </li>

        
    </ul>

</li>