
<li class="nav-item has-treeview">

    <a asp-controller="MessageSends" asp-action="Index" class="nav-link active">
        <i class="nav-icon fas fa-box"></i>
        <p> الرسائل</p>
    </a>

</li>