<li class="nav-item has-treeview">
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            ادارة النظام
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview" style="display: none;">
        <li class="nav-item">
            <a asp-controller="AppUsers" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>المستخدمين</p>
            </a>
        </li>
        @*<li class="nav-item">
            <a asp-controller="Seasons" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>المواسم</p>
            </a>
        </li>*@
        <li class="nav-item">
            <a asp-controller="Jops" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>الوظائف</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="Employees" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>الموظفين</p>
            </a>
        </li>



        <li class="nav-item">
            <a asp-controller="WorkSeasons" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>المواسم</p>
            </a>
        </li>


        <li class="nav-item">
            <a asp-controller="Countries" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>الدول</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="Banks" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>البنوك</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="Universities" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>الجامعات</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Colleges" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>الكليات</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="Stages" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>المراحل</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="Levels" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>المستويات</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Languages" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>اللغات</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Specializations" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>التخصصات</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="MGuides" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>المرشدين</p>
            </a>
        </li>

    </ul>

    </li>